<section class="section pt-55 mb-50">
    <div class="container-fluid">
        <div class="page404  widget">
            <div class="image">
                <img src="assets/img/404.html" alt="">
            </div>
            <div class="content">
                <h1>401</h1>
                <h3 class="mb-5">شما به این صفحه دسترسی ندارید</h3>
                @*<p>مطلبی که به دنبال آن هستید متاسفانه پیدا نشد. </p>*@
                <a href="javascript:void(0)" onclick="window.history.back()" class="btn-custom">بازگشت</a>
                @*<a asp-controller="Home"
                    asp-action="Index"
                    class="btn-custom"> بازگشت به صفحه اصلی </a>*@
            </div>
        </div>
    </div>
</section> 