@inject IAdminService _adminService
@{
    var adminInfo = await _adminService.GetAdminInfoForPanel(Guid.Parse(User.Identity.Name));
}

<style>
    .admin-image-box {
        width: 100px;
        height: 100px;
    }
</style>

<!--widget-author-->
<div class="widget">
    <div class="widget-author">
        <a asp-controller="User" asp-action="Index" asp-route-userId="@User.Identity.Name" 
            class="d-flex align-items-center justify-content-center mb-3">
            <div class="img-box admin-image-box">
                <img src="~/images/users/thumb200/@adminInfo.ImageName" alt="@adminInfo.FullName">
            </div>
        </a>
        <h6>
            <span>@adminInfo.FullName</span>
        </h6>
    </div>
</div>
<!--/-->

<!--widget-categories-->
<div class="widget">
    <div class="section-title">
        <h5>تنظیمات</h5>
    </div>
    <ul class="widget-categories">
        <li class="d-flex justify-content-between align-items-center">
            <a asp-controller="Admin" asp-action="Index" class="categorie mr-0">داشبورد</a>
            <i class="arrow_left"></i>
        </li>
        <li class="d-flex justify-content-between align-items-center">
            <a asp-controller="Admin" asp-action="ManageUsers" class="categorie mr-0">لیست کاربران</a>
            <i class="arrow_left"></i>
        </li>
        <li class="d-flex justify-content-between align-items-center">
            <a asp-controller="Admin" asp-action="ManageCategories" class="categorie mr-0">لیست دسته&zwnj;بندی&zwnj;ها</a>
            <i class="arrow_left"></i>
        </li>
        <li class="d-flex justify-content-between align-items-center">
            <a asp-controller="Admin" asp-action="ManageArticles" class="categorie mr-0">لیست مقالات</a>
            <i class="arrow_left"></i>
        </li>
        <li class="d-flex justify-content-between align-items-center">
            <a asp-controller="Admin" asp-action="ManageComments" class="categorie mr-0">دیدگاه&zwnj;های جدید</a>
            <i class="arrow_left"></i>
        </li>
    </ul>
</div>
<!--/-->