<div class="search">
    <div class="container-fluid">
        <div class="search-width  text-center">
            <button type="button" class="close">
                <i class="icon_close"></i>
            </button>
            <form asp-controller="Home" asp-action="Search" class="search-form" method="get">
                <input type="text" name="filter" placeholder="دنبال چی میگردی؟">
                <button type="submit" class="search-btn">جستجو</button>
            </form>
        </div>
    </div>
</div>